*{
    font-family: "Figtree", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F4D04E;
}

a{
    text-decoration: none;
    color: #111111;
}


figure, img{
    width: 100%;
    border-radius: 1rem;
}


.illustrationCaption{
    margin: -1px;
    border: 0;
    clip: rect(0,0,0);
    overflow: hidden;
    padding: 0;
    height: 1px;
    width: 1px;
}

.illustrationContainer, .illustration{
    border-radius: 1rem;
}

.illustration{
    object-fit: cover;
}

.previewContainer{
    gap: 1rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    border: 1px solid #111111;
    border-radius: 1rem;
    background-color: #FFF;
    box-shadow: 0.5rem 0.5rem #111111;
    padding: 1.2rem;
}

.learning, .name{
    font-size: 1.1rem;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 800;
    text-align: center;

}

.learningContainer{
    background-color: #F4D04E;
    width: fit-content;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

p{
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 500;
}

.description{
    color: #6b6b6b;
}


h1{
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 800;
}

a:hover{
    color: #F4D04E;
    cursor: pointer;
}

.pictureContainer{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.profilePicture{
    height: 2rem;
    width: 2rem;
}

@media (max-width: 375px) {
    .previewContainer{
        width: 90%;
        height: fit-content;
    }

    h1{
        font-size: 1.3rem;
    }

}